.fork_me
  = link_to "http://github.com/tangzero/blog" do
    = image_tag "forkme.png"

= link_to root_path do
  .header
    jairo
    %span.color luiz

.slogan
  %span a little of everything that I like
