%ul
  %li
    %p Tags
    .tag_cloud
      - tag_cloud(Post.tag_counts, %w(tag1 tag2 tag3 tag4)) do |tag, css_class|
        = link_to tag.name, posts_path(:tag => tag.name), :class => css_class
  %li
    %p Sites
    .sites
      = link_to "http://www.programadorpoliglota.com.br" do
        = image_tag "http://www.programadorpoliglota.com.br/images/programador-poliglota-120x60.gif"
      = link_to "http://github.com/tangzero" do
        = image_tag "http://github.com/images/modules/header/logov3-hover.png", :size => "120x50"
