@import "partials/base";

$markitup-width: ceil($blueprint-grid-width * 3);

.markItUp {
  * {
    margin: 0px;
    padding: 0px;
    outline: none; }
  a {
    &:link, &:visited {
      color: #000;
      text-decoration: none; } }
  width: $markitup-width;
  margin: 5px 0 5px 0;
  border: 5px solid #F5F5F5; }

.markItUpContainer {
  border: 1px solid #3C769D;
  background: white url(/images/markitup/bg-container.png) repeat-x top left;
  padding: 5px 5px 2px 5px;
  font: 11px Verdana, Arial, Helvetica, sans-serif; }

.markItUpEditor {
  font: 12px 'Courier New', Courier, monospace;
  padding: 5px 5px 5px 35px;
  border: 3px solid #3C769D !important;
  width: $markitup-width - 57;
  height: 500px;
  background: white url(/images/markitup/bg-editor.png) no-repeat;
  clear: both;
  display: block;
  line-height: 18px;
  overflow: auto; }

.markItUpPreviewFrame {
  overflow: auto;
  background-color: #FFFFFF;
  border: 1px solid #3C769D;
  width: 99.9%;
  height: 300px;
  margin: 5px 0; }

.markItUpFooter {
  width: 100%;
  cursor: n-resize; }

.markItUpResizeHandle {
  overflow: hidden;
  width: 22px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/images/markitup/handle.png);
  cursor: n-resize; }

/***************************************************************************************/
/* first row of buttons */

.markItUpHeader ul {
  li {
    list-style: none;
    float: left;
    position: relative;
    ul {
      display: none; }
    &:hover > ul {
      display: block; } }
  .markItUpDropMenu {
    background: transparent url(/images/markitup/menu.png) no-repeat 115% 50%;
    margin-right: 5px;
    li {
      margin-right: 0px; } }
  .markItUpSeparator {
    margin: 0 10px;
    width: 1px;
    height: 16px;
    overflow: hidden;
    background-color: #CCC; }
  ul {
    .markItUpSeparator {
      width: auto;
      height: 1px;
      margin: 0px; }
    display: none;
    position: absolute;
    top: 18px;
    left: 0px;
    background: #F5F5F5;
    border: 1px solid #3C769D;
    height: inherit;
    li {
      float: none;
      border-bottom: 1px solid #3C769D; }
    .markItUpDropMenu {
      background: #f5f5f5 url(/images/markitup/submenu.png) no-repeat 100% 50%; }
    ul {
      position: absolute;
      top: -1px;
      left: 150px;
      li {
        float: none; } } }
  a {
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -10000px;
    background-repeat: no-repeat;
    padding: 3px;
    margin: 0px; }
  ul a {
    display: block;
    padding-left: 0px;
    text-indent: 0;
    width: 120px;
    padding: 5px 5px 5px 25px;
    background-position: 2px 50%;
    &:hover {
      color: #FFF;
      background-color: #3C769D; } } }

/* next rows of buttons */

/* next rows of buttons */

/***************************************************************************************/

.html .markItUpEditor {
  background-image: url(/images/markitup/bg-editor-html.png); }

.markdown .markItUpEditor {
  background-image: url(/images/markitup/bg-editor-markdown.png); }

.textile .markItUpEditor {
  background-image: url(/images/markitup/bg-editor-textile.png); }

.bbcode .markItUpEditor {
  background-image: url(/images/markitup/bg-editor-bbcode.png); }

.wiki .markItUpEditor, .dotclear .markItUpEditor {
  background-image: url(/images/markitup/bg-editor-wiki.png); }
