@import "blueprint/reset";
@import "partials/base";
@import "blueprint";
@import "blueprint/scaffolding";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/gradient";

@include blueprint-scaffolding("body");

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  background: #FFF;
  font-family: "Helvetica", "Verdana", "DejaVu Sans", "Arial", "sans-serif";
  color: #424242;

  #container {
    @include container;
    @include border-radius(20px);
    @include box-shadow(#000, 2px, 2px);
    padding: 20px;
    margin: 20px auto 20px;
    background: #E9E9E9; }
  #header {
    @include column($blueprint-grid-columns);
    margin-bottom: 15px;
    border-bottom: 1px solid #DDD; }
  #footer {
    @include column($blueprint-grid-columns);
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #DDD; }
  #content {
    $content-columns: ceil(3 * $blueprint-grid-columns / 4);
    @include column($content-columns); }
  #sidebar {
    $sidebar-columns: floor($blueprint-grid-columns / 4);
    @include column($sidebar-columns, true); }}

form {
  @include blueprint-form; }

#header {
  a:hover { text-decoration: none !important; }
  .header {
    font: {
      size: 60px !important;
      weight: bold; }
    text-transform: uppercase;
    letter-spacing: -5px;
    word-spacing: -12px;
    color: #424242;
    float: left;
    .color { color: #FF9900; }}
  .slogan {
    float: left;
    position: relative;
    span {
      font: {
        size: 20px !important;
        weight: bold; }
      position: absolute;
      left: 40px;
      top: 40px;
      width: 300px;}}}

#sidebar {
  ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
    li {
      p {
        border: {
          bottom: 1px solid #DDD; }
        padding: 0px; 
        text-align: center;
        font: {
          size: 15px !important;
          weight: bold; }
        margin: 0 0 5px 0; }
      .sites a {
        width: 120px;
        display: block;
        margin: 10px auto 0; }
      margin: 0 0 20px 0; }}}

#footer {
  .footer {
    text-align: center;
      font: {
        size: 12px !important;
        weight: bold; }}}

* a {
  color: #3299BB !important;
  text-decoration: none !important;
  &:hover {
    color: #3299BB !important;
    text-decoration: underline !important; }
  &:visited { color: #3299BB !important; }}

.pagination {
  text-align: center;
  margin-bottom: 10px; }

.post_footer {
  font: {
    size: 12px !important;
    weight: bold; }}

.tags {
  font: {
    size: 12px !important;
    weight: bold; }}

.datebox {
  @include border-radius(10px);
  @include box-shadow(#424242, 2px, 2px);
  padding: 4px; 
  float: left;
  width: 40px;
  height: 40px;
  margin: {
    bottom: 15px;
    right: 15px; }
  font-family: Georgia, Constantia, Times, serif;
  text-align: center;
  font-weight: bold;
  .month {
    text-transform: uppercase;
    font-size: 16px !important; }
  .day {
    margin-top: -14px;
    color: #FF9900;
    font-size: 22px !important; }}

.title {
  float: left;
  width: ceil(($blueprint-grid-width * 3) - 50); 
  font: {
    size: 22px !important;
    weight: bold; }
  margin: {
    top: -4px;
    bottom: 15px; }
  .date {
    font: {
      size: 12px !important;
      weight: bold; }}}

.tag_cloud {
  font-weight: bold;
  text-align: center;
  .tag1 { font-size: 8px; }
  .tag2 { font-size: 12px; }
  .tag3 { font-size: 16px; }
  .tag4 { font-size: 20px; }}

.fork_me {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0; }

.body { clear: both; }

.CodeRay {
  padding: 0 !important;
  background-color: #F2F2F2;
  border: 1px solid silver;
  color: black;
  display: block;
  padding: 10px !important;
  margin: {
    top: 10px !important;
    bottom: 10px !important; }
  pre {
    margin: 1px; }}
