.markItUp {
  .markItUpButton1 a {
    background-image: url(/images/markitup/h1.png); }
  .markItUpButton2 a {
    background-image: url(/images/markitup/h2.png); }
  .markItUpButton3 a {
    background-image: url(/images/markitup/h3.png); }
  .markItUpButton4 a {
    background-image: url(/images/markitup/h4.png); }
  .markItUpButton5 a {
    background-image: url(/images/markitup/h5.png); }
  .markItUpButton6 a {
    background-image: url(/images/markitup/h6.png); }
  .markItUpButton7 a {
    background-image: url(/images/markitup/paragraph.png); }
  .markItUpButton8 a {
    background-image: url(/images/markitup/bold.png); }
  .markItUpButton9 a {
    background-image: url(/images/markitup/italic.png); }
  .markItUpButton10 a {
    background-image: url(/images/markitup/stroke.png); }
  .markItUpButton11 a {
    background-image: url(/images/markitup/list-bullet.png); }
  .markItUpButton12 a {
    background-image: url(/images/markitup/list-numeric.png); }
  .markItUpButton13 a {
    background-image: url(/images/markitup/picture.png); }
  .markItUpButton14 a {
    background-image: url(/images/markitup/link.png); }
  .markItUpButton15 a {
    background-image: url(/images/markitup/quotes.png); }
  .markItUpButton16 a {
    background-image: url(/images/markitup/code.png); }
  .markItUpButton17 a {
    background-image: url(/images/markitup/preview.png); } }
