= raw javascript_include_tag "markitup"
= raw javascript_include_tag "textile"
= raw javascript_include_tag "posts"
= raw stylesheet_link_tag "markitup"
= raw stylesheet_link_tag "textile"

= simple_form_for @post do |f|
  .field
    = f.input :title, :input_html => { :disabled => readonly }
  .field
    = f.input :body, :input_html => { :class => "mceEditor" }
  .field
    = f.input :tag_list
  .field
    = f.input :published
  .actions
    = f.button :submit
