- @posts.each do |post|
  - if post.published or admin_signed_in?
    .datebox
      .month= post.created_at.strftime "%b"
      .day= post.created_at.day 
    .title
      = link_to post.title, post
      .date
        on
        = post.created_at.strftime "%B %d, %Y"
    .body
      :preserve
        #{textilize(truncate(post.body, :length => 600))}
    %br
    .post_footer
      By 
      = mail_to post.admin.email, post.admin.username
      \|
      = link_to "Comments", post_path(post, :anchor => "disqus_thread")
      = raw disqus_comment_counts
      \|
      = link_to "Read more", post
      - if admin_signed_in?
        \|
        = link_to "Edit", edit_post_path(post)
        \|
        = link_to "Destroy", post, :confirm => "Are you sure?", :method => :delete

    .tags
      Tags
      - post.tag_list.each do |tag|
        = link_to tag, posts_path(:tag => tag)

  %br
  %hr

.pagination
  = will_paginate @posts
