!!! 5
%html
  %head
    %title
      Jairo Luiz
      = yield :title
    = raw javascript_include_tag :defaults
    = raw stylesheet_link_tag "screen", :media => "screen, projection"
    = raw stylesheet_link_tag "print", :media => "print"
    /[if lt IE 8]
      = raw stylesheet_link_tag "ie", :media => "screen, projection"
    %link{:href => posts_path(:format => :atom), :rel => "alternate", :type => "application/rss+xml"}
    = csrf_meta_tag
  %body
    #container
      #header= render "shared/header"
      #content= yield
      #sidebar= render "shared/sidebar"
      #footer= render "shared/footer"
